td {
    color:orange;
    padding: : 10px 5px;
}

table {
    text-align: center;
    color: red;
}

form {
  background-color: azure;
  text-align: center;
}

.jarakkiri {
    margin-left: 20px;
}

h1 {
    color: red;
}
#warnaubah {
    color: black;
    margin-right: 10px;


}